{% load static %}
<!doctype html>
<html>
	<head>
		<title>Convention de partenariat</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<p><strong>BDE-UTC Pic'Asso</strong><br />
					Rue Roger Coutollenc<br />
					60200 COMPIEGNE<br />
					Siret 397776 725 00012</p>
					<p><strong>Objet : Convention de partenariat avec l'association {{ perm.nom | upper }}</strong><br />
					Responsable du partenariat : {{ perm.nom_resp }} {% if perm.role %}({{ perm.role }}){% endif %}<br />
					Adresse mail du responsable : {{ perm.mail_resp }}<br />
					Téléphone du responsable : {{ perm.tel_resp }}</p>
					<p>Date du jour : {{ perm.date | date:'d/m/Y' }}<br />
					Période : {{ perm.periode }}</p>
				</div>
				<div class="col-xs-4">
					<img class="pull-right" src="{% static 'logo_monochrome.png' %}" />
				</div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col-md-12">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="col-xs-7">Article</th>
								<th>Prix HT</th>
								<th>TVA</th>
								<th>Prix TTC</th>
								<th>Qté</th>
							</tr>
						</thead>
						{% for article in articles %}
                        <tr>
							<td class="col-xs-7">{{ article.nom }}</td>
							<td>{{ article.prixHT }}€</td>
							<td>{{ article.TVA }}%</td>
							<td>{{ article.prixTTC }}€</td>
							<td>{{ article.stock }}</td>
						</tr>
                        {% endfor %}
					</table>
					<p>Le BDE-UTC Pic'Asso s'engage à mettre en vente les articles ci-dessus, et à verser les recettes engrangées à l'association partenaire.<br />
                    Le rachat de la décoration de la permanence est limité à {{ montant }}€, et doit être accompagné d'une facture à l'ordre de BDE-UTC Pic'Asso.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<p class="pull-right">Signature du représentant du BDE-UTC Pic'Asso</p>
				</div>
				<div class="col-xs-3">
					<p class="pull-right">Signature du représentant du partenaire</p>
				</div>
			</div>
		</div>
	</body>
</html>
